@import url('https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter:wght@900&family=Press+Start+2P&family=VT323&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1 { 
    font-family: 'Inter', sans-serif;

}
